<table class="table">
<thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Number of employees</th>
      <th scope="col">Link</th>
    </tr>
</thead>
  <% statuses.each do |status| %>
    <tr>
      <th scope="row"><%=status.id%></th>
      <td><%= status.name %></td>
      <td><%= status.employees.count %></td>
      <%if controller.action_name != "ghost" %>
      <td class="item-link"><%= link_to "Show", employment_status_path(status.id) %></td>
      <%else%>
      <td class="item-link"><%= link_to "Restore", employment_status_restore_url(status.id) %></td>
      <%end%>
      
      
    </tr>
    <%end%>
</table>