<%= form_with(model: employment_status) do |form| %>
  <%= render partial: "shared/form_errors", locals:{m:employment_status}%>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
