<%= content_for(:html_title) { "Employment Statuses" } %>
<div class="row d-flex justify-content-center">
  <div class="col-4">
    <p style="color: green"><%= notice %></p>

    <%if controller.action_name != "ghost" %>
      <h1 class="title">Employment statuses</h1>
      <%else%>
      <h1 class="title">Deleted Employment statuses</h1>
    <%end%>

    <div id="employment_statuses">
      <%= render partial: "employment_statuses_table", locals: {statuses: @employment_statuses}%>
    </div>

    <%= link_to "New employment status", new_employment_status_path %> |
    <% if controller.action_name == "index" %>
    <%= link_to "Show deleted employment statuses", employment_status_ghost_url %>
    <% else %>
    <%= link_to "Back to employment statuses", employment_statuses_path %>
    <% end %>
  </div> 
</div>
