<div class="row d-flex justify-content-center">
  <div class="col-10">
    <p style="color: green"><%= notice %></p>

    <%= render @employment_status %>

    <%if !@employment_status.employees.empty? %>
    <p><strong>Employees with this employment status:</strong></p>
      <%= render partial:"shared/employees_table", locals:{employees: @employment_status.employees}%>
    <%end%>
    <div>

    <div>
      <%= link_to "Edit this employment status", edit_employment_status_path(@employment_status) %> |
      <%= link_to "Back to employment statuses", employment_statuses_path %>

      <%if deletable?(@employment_status)%>
      <%= button_to "Destroy this employment status", @employment_status, method: :delete %>
      <%end%>
    </div>
  </div>
</div>
