<div id="<%= dom_id employee %>">
  <p>
    <strong>Jmbg:</strong>
    <%= employee.JMBG %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position_id %>
  </p>

  <p>
    <strong>Employment date:</strong>
    <%= employee.employment_date %>
  </p>

  <p>
    <strong>Superior:</strong>
    <%= employee.superior_id %>
  </p>

  <p>
    <strong>Employment status:</strong>
    <%= employee.employment_status_id %>
  </p>

</div>
