<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show"  role="alert">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :JMBG, style: "display: block" %>
    <%= form.text_field :JMBG, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :position_id, style: "display: block" %>
    <%= form.select("position_id", @position_choices, {}, { :class => "form-control" }) %>
  </div>

  <div class="form-group">
    <%= form.label :employment_date, style: "display: block" %>
    <%= form.date_field :employment_date, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :superior_id, style: "display: block" %>
    <%= form.select("superior_id", @superior_employee_choices, {include_blank: true}, { :class => "form-control" }) %>
  </div>

  <div class="form-group">
    <%= form.label :employment_status_id, style: "display: block" %>
    <%= form.select("employment_status_id", @employment_status_choices, {}, { :class => "form-control" }) %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
