<%= content_for(:html_title) { 'Employees' } %>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <p style="color: green"><%= notice %></p>

    <%if controller.action_name != "ghost" %>
      <h1 class="title">Employees</h1>
      <%else%>
      <h1 class="title">Deleted employees</h1>
    <%end%>

    


    <% search_url = controller.action_name != "ghost" ? employees_path : employee_ghost_url%>

    <div class="row">
      <%= form_with(url: search_url, method: :get, data: {turbo_frame: "employees"}) do |form| %>

        <div class="row">
          <div class="col-3">
            <%= form.label :first_name, "First name:", class: "" %>
            <%= form.text_field :first_name, class: "form-control", autocomplete: "off" %>

            <%= form.label :last_name, "Last name:", class: "" %>
            <%= form.text_field :last_name, class: "form-control", autocomplete: "off" %>
          </div>
          <div class="col-3">
            <%= form.label :position, "Position", class: "" %>
            <%= form.select("position_id", @position_choices, {}, { :class => "form-control" })%>

            <%= form.label :employment_status, "Employment status", class: "" %>
            <%= form.select("employment_status_id", @employment_status_choices,{}, { :class => "form-control" }) %>
          </div>
      
        <div class="col-3" style="margin-top: 20px">
          <%= form.submit 'Search', class: "btn btn-primary search-btn input-field" %>
        </div>

      <% end %>  
    </div> 
  </div>
    
    <%= render partial: "employees", locals: {employees: @employees} %>

    <%= link_to "New employee", new_employee_path %> |

    <% if controller.action_name != "ghost" %>
      <%= link_to "Show deleted employees", employee_ghost_url %>
    <% else %>
      <%= link_to "Back to employees", employees_path %>
    <% end %>

  </div>
</div>
