<%= content_for(:html_title) {full_name(@employee)}%>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <p style="color: green"><%= notice %></p>

    <%= render @employee %>

    <%if !@employee.subordinates.empty?%>
    <h2>Subordinates</h2>
      <%= render partial:"shared/employees_table", locals:{employees: @employee.subordinates}%>

    <%end%>
    <%if !@employee.projects_under_supervision.empty?%>
      <h2>Supervising projects</h2>
        <%= render partial:"shared/projects_table", locals:{projects: @employee.projects_under_supervision}%>
    <%end%>

    <%if !@employee.tasks.empty?%>
      <h2>Employee tasks </h2>
        <%= render partial:"shared/tasks_table", locals:{tasks: @employee.tasks}%>
    <%end%>
    
    <div>
      <%= link_to "Edit this employee", edit_employee_path(@employee) %> |
      <%= link_to "Back to employees", employees_path %>

      <%= button_to "Destroy this employee", @employee, method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div>
