<%= form_with(model: position) do |form| %>
  <%=render partial: "shared/form_errors", locals:{m:position}%>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.label "Superior position?" %>
    <%= form.check_box :super, class: "form-check-input" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
