<%= content_for(:html_title) { "Positions" } %>
<div class="row d-flex justify-content-center">
  <div class="col-4">
    <p style="color: green"><%= notice %></p>

    <%if controller.action_name != "ghost" %>
      <h1 class="title">Positions</h1>
      <%else%>
      <h1 class="title">Deleted positions</h1>
    <%end%>

    <div id="positions">
      <%= render partial: "positions_table", locals: {positions: @positions}%>
    </div>

    <%= link_to "New position", new_position_path %> |
    <% if controller.action_name == "index" %>
    <%= link_to "Show deleted positions", position_ghost_url %>
    <% else %>
    <%= link_to "Back to positions", positions_path %>
    <% end %>
  <div class="row d-flex justify-content-center">
<div class="col-4">