<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.body %>
  </p>

  <p>
    <strong>Is task completed?</strong>
    <%= task.is_completed ? "Yes" : "No"%>
  </p>

  <p>
    <strong>Project:</strong>
    <%= link_to task.project.name, project_path(task.project_id) %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= link_to full_name(task.employee), employee_path(task.employee_id) %>
  </p>

</div>
