
<p style="color: green"><%= notice %></p>
<%= content_for(:html_title) { 'Tasks' } %>
<% search_url = controller.action_name != "ghost" ? tasks_path : task_ghost_url%>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <h1>Tasks</h1>
      <div class="row">
        
        <%= form_with(url: search_url, method: :get, class: "", data: {turbo_frame: "tasks"}) do |form| %>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <%= form.label :name, "Name", style: "display: block" %>
                <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= form.label "Is completed?", style:"display: block;" %>
                <%= form.select :is_completed, [["---Choose an option---", ""], ["Yes", 1], ["No", 0]],{}, class: "form-control" %>
              </div>
            </div>

            <div class="col-3">
              <div class="form-group">
                <%= form.label :body, style: "display: block" %>
                <%= form.text_field :body, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :project_id, style: "display: block" %>
                <%= form.select :project_id, @project_choices, {}, class: "form-control" %>
              </div>
            </div>

            <div class="col-3" style="margin-top: 20px">
              <%= form.submit 'Search', class: "btn btn-primary search-btn" %>
            </div>
          </div>
        <% end %>
        
      </div>


    <%= render partial: "tasks", locals:{tasks:@tasks}%>
       


    <%= link_to "New task", new_task_path %> |
    <% if controller.action_name != "ghost" %>
      <%= link_to "Show deleted tasks", task_ghost_url %>
    <% else %>
      <%= link_to "Back to tasks", tasks_path %>
    <% end %>
  </div>
</div>
