
<p style="color: green"><%= notice %></p>
<%= content_for(:html_title) { 'Tasks' } %>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <h1>Tasks</h1>

    <% search_url = controller.action_name != "ghost" ? tasks_path : task_ghost_url%>
    <div class="row">
      <div class="col-3">
        <%= form_with(url: search_url, method: :get) do |form| %>

        <div class="form-group">
          <%= form.label :name, "Name", class: "block mb-2" %>
          <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= form.label "Is completed?" %>
          <%= form.select :is_completed, [["Choose", ""], ["Yes", 1], ["No", 0]],{}, class: "form-control" %>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <%= form.label :body, style: "display: block" %>
          <%= form.text_area :body, class: "form-control" %>
        </div>

        

        <%= form.submit 'Search', class: "btn btn-primary search-btn input-field" %>
        <% end %>
      </div>
    </div>

    <div id="tasks">
      <%= render partial: "shared/tasks_table", locals:{tasks:@tasks}%>
       <%= paginate @tasks, window: 2 %> 
    </div>


    <%= link_to "New task", new_task_path %> |
    <% if controller.action_name != "ghost" %>
      <%= link_to "Show deleted tasks", task_ghost_url %>
    <% else %>
      <%= link_to "Back to tasks", tasks_path %>
    <% end %>
  </div>
</div>
