<table class="table">
<thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Language</th>
      <th scope="col">Supervisor</th>
      <th scope="col">Link</th>
    </tr>
</thead>
  <% projects.each do |project| %>
    <tr>
      <th scope="row"><%=project.id%></th>
      <td><%= project.name %></td>
      <td><%= project.body %></td>
      <td><%= project.language.name %></td>
      <td><%= link_to full_name(project.supervisor), employee_path(project.supervisor) %></td>
      <%if controller.action_name != "ghost" %>
      <td class="item-link"><%= link_to "Show", project_path(project.id) %></td>
      <%else%>
      <td class="item-link"><%= link_to "Restore", project_restore_url(project.id) %></td>
      <%end%>
      
      
    </tr>
    <%end%>
</table>