<%= form_with(model: project) do |form| %>
  <%= render partial: "shared/form_errors", locals:{m:project}%>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :language_id, style: "display: block" %>
    <%= form.select("language_id", @language_choices, {}, { :class => "form-control" }) %>
  </div>

  <div class="form-group">
    <%= form.label :supervisor_id, style: "display: block" %>
    <%= form.select("supervisor_id", @supervisor_employee_choices, {}, { :class => "form-control" }) %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
