<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.body %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= project.language.name %>
  </p>
  <p>
    <strong>Supervisor:</strong>
    <%= link_to full_name(project.supervisor), employee_path(project.supervisor) %>
  </p>

</div>
