<%= content_for(:html_title) { "Projects" } %>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <p style="color: green"><%= notice %></p>
    
    <h1 class="title">Projects</h1>
    
    <div id="projects">
      <%= render partial: "shared/projects_table", locals:{projects: @projects}%>
    </div>
    
    <%= link_to "New project", new_project_path %> |
    <%= link_to "Show deleted projects", project_ghost_url %> 
  </div>
</div>
