<%= content_for(:html_title) { "Projects" } %>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <p style="color: green"><%= notice %></p>
    
    <%if controller.action_name != "ghost" %>
      <h1 class="title">Projects</h1>
      <%else%>
      <h1 class="title">Deleted Projects</h1>
    <%end%>

    <% search_url = controller.action_name != "ghost" ? projects_path : project_ghost_url%>
    <div class="row">
      

      <%= form_with(url: search_url, method: :get,  data: {turbo_frame: "projects"}) do |form| %>
        <div class="row">
          <div class="col-3">
            <%= form.label :name, "Project name:", class: "block" %>
            <%= form.text_field :name, class: "form-control", autocomplete: "off" %>

            <%= form.label :language_id, style: "display: block" %>
            <%= form.select("language_id", @language_choices, {}, { class: "form-control" }) %>
          </div>

          <div class="col-3">
            <%= form.label :description, style: "display: block" %>
            <%= form.text_field :body, class:"form-control",  autocomplete: "off" %>

            <%= form.label :supervisor_id, style: "display: block" %>
            <%= form.select("supervisor_id", @supervisor_employee_choices, {}, { :class => "form-control" }) %>
          </div>

          <div class="col-3" style="margin-top: 20px">
             <%= form.submit 'Search', class: "btn btn-primary search-btn input-field" %>
          </div>
        </div>
      <% end %>
      
    </div>
    
    <%= render partial: "projects", locals:{projects: @projects}%>
    
    <%= link_to "New project", new_project_path %> |
    <% if controller.action_name != "ghost" %>
      <%= link_to "Show deleted projects", project_ghost_url %>
    <% else %>
      <%= link_to "Back to projects", projects_path %>
    <% end %>
   
  </div>
</div>
